# Impedir que se pueda ver el listado de contenidos de un directorio

Options All -Indexes

# Url Amigables

RewriteEngine On


RewriteRule ^([-a-zA-Z0-9ñÑ_/]+)$ index.php?ruta=$1
RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} backend
RewriteRule ^(.*)$ https://www.abrilamoblamientos.com.ar/backend/$1 [R,L]